<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/navbar}">
<div layout:fragment="main_section">
    <h1>ADMIN PAGE</h1>
    <hr>
    <div class="container-fluid">
        <a class="btn btn-primary btn-lg" th:href="@{register}">Register User</a>
        <a class="btn btn-info btn-lg" th:href="@{users-list}">Users list</a>
    </div>
    <hr>
    <div class="container-fluid">
        <a class="btn btn-success btn-lg" th:href="@{project-create}">Create project</a>
        <a class="btn btn-warning btn-lg" th:href="@{add-task}">Add task</a>
    </div>
</div>